@page "/interest"
@using ProjectFora.Shared;
@*@inject IUserInterestManager UserInterestManager*@
@*@inject IInterestManager InterestManager*@
@*@inject IThreadsManager ThreadManager*@
@inject IUserManager UserManager
@inject NavigationManager NavigationManager
@inject IUserInterestManager UserInterestManager

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Your interests:</h5>
 <hr />
        @if (userInterests != null)
        {
            <p class="card-text">
                @foreach (var interest in userInterests)
                {
                    <p onclick="@(() => NavigateToThreads(@interest.Id))">@interest.Name, Trådar: @if (@interest.Threads != null)
                        {
                            @interest.Threads.Count
                        }
                    </p>

                    <button class="btn btn-outline-dark" onclick="@(() => DeleteInterest(@interest.Id))">Delete</button>
                    <button class="btn btn-outline-dark" onclick="@(() => Edit(@interest.Id))">Edit</button>
                }
            </p>
        }
        else
        {
            <p>No interests</p>
        }
    </div>
</div>

@code {
    public List<InterestModel>? userInterests;
    public string message; 

    protected override async Task OnInitializedAsync()
    {
        // Get token
        var token = await UserManager.GetToken();

        // Get user interests
        userInterests = await UserInterestManager.GetUserInterests(token);
        int x = 1;
    }

    public void NavigateToThreads(int id)
    {
        NavigationManager.NavigateTo($"threads/{id}");
    }

    public async Task DeleteInterest(int Id)
    {
        var token = await UserManager.GetToken();
        message = await UserInterestManager.DeleteUserInterest(Id, token);
        StateHasChanged();
    }

    public async Task Edit(int id)
    {
        var token = await UserManager.GetToken();
        message = await UserInterestManager.EditInterest(id, token);
         StateHasChanged();
    }
}
@*Sida: Intressen
    En sida där man kan se intressen man har på sin användare
    Funktionalitet
    Se intressen man har på sin användare -check
    Se antalet trådar som finns skapade för intresset -check
    Klicka och gå in på ett intresse -check

    Ta bort ett intresse om man skapat det 
    Ändra namn på ett intresse om man skapat det och det inte har några tråda//
*@