@page "/threads/{Id:int}"
@using ProjectFora.Shared;
@inject IThreadsManager ThreadManager
@inject IUserManager UserManager
@inject IMessageManager MessageManager
@inject IInterestManager InterestManager
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

@* Matar ut alla interest threads *@
@if (Interest != null)

{
    <h1>@Interest.Name</h1>
    <hr />
    <h3>Threads:</h3>
    <div>
        @if(Interest.Threads != null)
        {
            
     
        @foreach (var  thread in Interest.Threads)
        {  

            @thread.Name
        <button @onclick="@(()=>NavigateToAThread(@thread.Id))">Get A Thread</button>
        <button @onclick="@(()=>NavigateToDeleteAThread(@thread.Id))">Delete A Thread</button>
        <button @onclick="@(()=>NavigateToUpdateAThread(@thread.Id))">Update A Thread</button>
        }
           }
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    public InterestModel Interest = new();//new intrest

    protected override async Task OnParametersSetAsync()
    {
         var token = await UserManager.GetToken();
        // Get interest with its threads
        Interest = await InterestManager.GetInterest(Id, token);
    }

    //1.metod att hämta tråd när söker på-klicka och gå in på en tråd...
    public async Task NavigateToAThread(int Id)
    {
        NavigationManager.NavigateTo($"thread/{Id}");
    }

    //2.metod att ta bort en tråd när man klickar
    public async Task NavigateToDeleteAThread(int Id)
    {
        NavigationManager.NavigateTo($"thread/{Id}");
    }

    //3.metod som updaterar/edit en tråd när man klickar
    public async Task NavigateToUpdateAThread(int Id)
    {
        NavigationManager.NavigateTo($"thread/{Id}");
    }
   



}




@*Sida: Trådar 

Funktionalitet:

Sortera och söka på trådar

Se antalet meddelanden i varje tråd
Trådar skapade av bannade eller borttagna användare ska ha en olika symboler som visar att användaren ärantingen bannad eller borttagen

2.Ta bort en tråd om man skapat den
3.Ändra namn på en tråd om man skapat den och den inte har några meddelanden
*@