@page "/threads"
@using ProjectFora.Shared;
@inject IThreadsManager ThreadManager
@inject IMessageManager MessageManager
@inject IInterestManager InterestManager
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
<div>
    @*Matar ut med foreach med foreach alla user interest*@
    <h3>User Interest:</h3>
    @if (User != null) {
        <div>
            @foreach (var interest in User.Interests)
            {
                @interest.Name
            }
        </div>
    }
</div>
<div>
   @* Matar ut alla interest threads *@
    <h3>Interest Threads:</h3>
    @if (Interest != null)
    {
        <div>
            @foreach (var  thread in Interest.Threads)
            {  
                @thread.Name
           <button @onclick="@(()=>NavigateToThread(@thread.Id))">Get A Thread</button>
           <button @onclick="@(()=>DeleteAThread(@thread.Id))">Delete A Thread</button>
           <button @onclick="@(()=>UpdateAThread(@thread.Id))">Update A Thread</button>
              
            }
        </div>
    }
</div>


















@code {
    [Parameter]
    public int Id { get; set; }
    public string Name { get; set; }






    public InterestModel Interest = new();//new intrest
    public UserModel User { get; set; } = new();//new user
    public ThreadModel Thread { get; set; } = new(); //new thread


    List<ThreadModel> GetThreads = new();//Alla trådar
                                         //List<InterestModel> interestList = new();//interest lista



    protected override async Task OnInitializedAsync()
    {

        //hämtar alla interest från interestManager
        GetThreads = await ThreadManager.GetAllThreads();
        //hämtar alla interest från interestManager
        //interestList = await InterestManager.GetAllInterest();


    }
    //1.metod att hämta tråd när söker på-klicka och gå in på en tråd...
    public async Task NavigateToThread(int Id)
    {
        NavigationManager.NavigateTo($"thread/{Id}");
    }

    //2.metod att ta bort en tråd när man klickar
    public async Task DeleteAThread(int Id)
    {
        
    }

    //3.metod som updaterar/edit en tråd när man klickar
    public async Task UpdateAThread(int Id)
    {
       
    }
   



}




@*Sida: Trådar 
En sida där man kan se trådar relaterade ett intresse
Funktionalitet:

Sortera och söka på trådar
1.Klicka och gå in på en tråd
Se antalet meddelanden i varje tråd
Trådar skapade av bannade eller borttagna användare ska ha en olika symboler som visar att användaren ärantingen bannad eller borttagen

2.Ta bort en tråd om man skapat den
3.Ändra namn på en tråd om man skapat den och den inte har några meddelanden
*@